@font-face {
  font-family: 'Barlow Semi' ;
  src: url(./fonts/barlowsemicondensed-medium-webfont.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  font-family:'Barlow Semi', sans-serif;;

}

main {
 width: 110rem;
 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  row-gap: 2rem;
  column-gap: 3rem;
  grid-template-areas:
    "Daniel     Daniel   Jonathan  Kira"
    "Jeanette   Patrick  Patrick   Kira ";
    margin-top: 6.4rem;
}

.grid-container > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  border-radius: 0.8rem;
}

.grid-item1  .Verified ,.grid-item2  .Verified ,.grid-item5  .Verified  {
  color: rgb(195, 192, 192);
}
.grid-item1 .discription , .grid-item2 .discription , .grid-item5  .discription {
  color: rgb(195, 192, 192);

}

.grid-item1 .name ,.grid-item2 .name ,.grid-item5 .name{
  color: white;
}
.grid-item1 .title ,.grid-item2 .title ,.grid-item5 .title{
    color: white;

}

.grid-item3  .Verified ,.grid-item4  .Verified   {
  color: 
rgb(72, 85, 106);
}
.grid-item3 .discription , .grid-item4 .discription  {
  color: 
rgb(72, 85, 106);

}

.grid-item3 .name  ,.grid-item4 .name{
  color: rgb(72, 85, 106);
  
}
.grid-item3 .title ,.grid-item4 .title{
    color:rgb(72, 85, 106);

}

.profile-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
}

.image-box {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
  overflow: hidden;
}
.grid-item1 .image-box , .grid-item5 .image-box{ 
   border: 0.1rem solid rgb(187, 41, 220);
}

.profile-img {
  width: 100%;
  height: 100%;
}

.name{
  font-size: 1.3rem;
  font-weight: 50rem;
  line-height: 1.4rem;
  /* color:rgb(255, 255, 255) ;  */
}

.Verified {
  font-size: 1.1rem;
  font-weight: 50rem;
  /* color:rgba(255, 255, 255, 0.5) ;  */
}



.title{
font-size :2rem;
font-weight:600;
line-height: 2.2rem;
letter-spacing: 0;
}

.discription{
font-size: 1.3rem;
font-weight:500;
line-height: 1.8rem;
}



.grid-item1 {
  grid-area: Daniel;
  background-color:hsl(263, 55%, 52%);
}

.grid-item2 {
  grid-area: Jonathan;
  background-color: hsl(217, 19%, 35%);
}

.grid-item3 {
  grid-area: Kira;
  background-color: hsl(0, 0%, 100%);
}

.grid-item4 {
  grid-area: Jeanette;
  background-color: hsl(0, 0%, 100%);
}

.grid-item5 {
  grid-area: Patrick;
  background-color: hsl(219, 29%, 14%);
}
