* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 1200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  row-gap: 2rem;
  column-gap: 3rem;
  grid-template-areas:
    "Daniel     Daniel   Jonathan  Kira"
    "Jeanette   Patrick  Patrick   Kira ";
}

.grid-container > div {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}

.profile-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
}

.image-box {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid rgb(237, 113, 41);
  border-radius: 100%;
  overflow: hidden;
}
.profile-img {
  width: 100%;
  height: 100%;
}

.name {
  font-size: 1.3rem;
  font-weight: 50rem;
  /* color:rgb(255, 255, 255) ;  */
}

.Verified {
  font-size: 1.1rem;
  font-weight: 50rem;
  /* color:rgba(255, 255, 255, 0.5) ;  */
}

.name {
  /* font-family"Barlow Semi Condensed", sans-serif; */
  font-size: 2rem;
  font-weight: 60rem;
}
.grid-item1 {
  grid-area: Daniel;
  background-color: aqua;
}
.grid-item2 {
  grid-area: Jonathan;
  background-color: blue;
}

.grid-item3 {
  grid-area: Kira;
  background-color: blueviolet;
}

.grid-item4 {
  grid-area: Jeanette;
  background-color: brown;
}

.grid-item5 {
  grid-area: Patrick;
  background-color: blanchedalmond;
}
